<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxd.dao.FriendLinkMapper">
  <resultMap id="friendLinkMap" type="com.hxd.bean.FriendLink">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="siteName" jdbcType="VARCHAR" property="sitename" />
    <result column="siteUrl" jdbcType="VARCHAR" property="siteurl" />
    <result column="logoUrl" jdbcType="VARCHAR" property="logourl" />
    <result column="linkType" jdbcType="TINYINT" property="linktype" />
    <result column="seqNo" jdbcType="INTEGER" property="seqno" />
    <result column="isEnable" jdbcType="TINYINT" property="isenable" />
  </resultMap>
  <sql id="Base_Column_List">
    id, siteName, siteUrl, logoUrl, linkType, seqNo, isEnable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="friendLinkMap">
    select 
    	<include refid="Base_Column_List" />
    from friendlink
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from friendlink
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hxd.bean.FriendLink">
    insert into friendlink (id, siteName, siteUrl, 
      logoUrl, linkType, seqNo, 
      isEnable)
    values (#{id,jdbcType=INTEGER}, #{sitename,jdbcType=VARCHAR}, #{siteurl,jdbcType=VARCHAR}, 
      #{logourl,jdbcType=VARCHAR}, #{linktype,jdbcType=TINYINT}, #{seqno,jdbcType=INTEGER}, 
      #{isenable,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hxd.bean.FriendLink">
    insert into friendlink
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sitename != null">
        siteName,
      </if>
      <if test="siteurl != null">
        siteUrl,
      </if>
      <if test="logourl != null">
        logoUrl,
      </if>
      <if test="linktype != null">
        linkType,
      </if>
      <if test="seqno != null">
        seqNo,
      </if>
      <if test="isenable != null">
        isEnable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sitename != null">
        #{sitename,jdbcType=VARCHAR},
      </if>
      <if test="siteurl != null">
        #{siteurl,jdbcType=VARCHAR},
      </if>
      <if test="logourl != null">
        #{logourl,jdbcType=VARCHAR},
      </if>
      <if test="linktype != null">
        #{linktype,jdbcType=TINYINT},
      </if>
      <if test="seqno != null">
        #{seqno,jdbcType=INTEGER},
      </if>
      <if test="isenable != null">
        #{isenable,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxd.bean.FriendLink">
    update friendlink
    <set>
      <if test="sitename != null">
        siteName = #{sitename,jdbcType=VARCHAR},
      </if>
      <if test="siteurl != null">
        siteUrl = #{siteurl,jdbcType=VARCHAR},
      </if>
      <if test="logourl != null">
        logoUrl = #{logourl,jdbcType=VARCHAR},
      </if>
      <if test="linktype != null">
        linkType = #{linktype,jdbcType=TINYINT},
      </if>
      <if test="seqno != null">
        seqNo = #{seqno,jdbcType=INTEGER},
      </if>
      <if test="isenable != null">
        isEnable = #{isenable,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxd.bean.FriendLink">
    update friendlink
    set siteName = #{sitename,jdbcType=VARCHAR},
      siteUrl = #{siteurl,jdbcType=VARCHAR},
      logoUrl = #{logourl,jdbcType=VARCHAR},
      linkType = #{linktype,jdbcType=TINYINT},
      seqNo = #{seqno,jdbcType=INTEGER},
      isEnable = #{isenable,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryFriendLinkListByPage" resultMap="friendLinkMap" parameterType="map">
		SELECT 
	        <include refid="Base_Column_List" />
		from friendlink 

		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="sSearch != null">
				AND (
					siteName like CONCAT('%',#{sSearch},'%')
				)
      		</if>
      	</trim>

		<choose>
			<when test="orderField !=null and orderField !=''">
				 ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
			</when>
			<otherwise>
				 order by id DESC
			</otherwise>
		</choose>
      	 
	</select>
	
	<select id="queryFriendLinkListCount" resultType="java.lang.Integer" parameterType="map">
		select count(0) as c from friendlink
	
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="sSearch != null">
				AND (
					siteName like CONCAT('%',#{sSearch},'%')
					
				)
      		</if>
      	</trim>
	</select>
	
	<delete id="deleteFriendLinkByBatch" parameterType="java.util.List">
  		delete from friendlink
  		<where>
 		 	<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">     
  				id=#{item}
    		</foreach>
  		</where>
  </delete>
  
  <select id="selectBySiteName" parameterType="com.hxd.bean.FriendLink" resultMap="friendLinkMap"  >
    select 
    	<include refid="Base_Column_List" />
    from friendlink
    where siteName = #{sitename,jdbcType=VARCHAR}
  </select>
  
  <select id="findAllFriendLink" resultMap="friendLinkMap"  >
    select 
    	<include refid="Base_Column_List" />
    from friendlink
    where isenable=1 order by seqno
  </select>
	
</mapper>