<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxd.dao.ResourceGroupMapper">
  <resultMap id="resourceGroupMap" type="com.hxd.bean.ResourceGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="groupType" jdbcType="TINYINT" property="grouptype" />
    <result column="groupName" jdbcType="VARCHAR" property="groupname" />
    <result column="groupDesc" jdbcType="VARCHAR" property="groupdesc" />
    <result column="menuUrl" jdbcType="VARCHAR" property="menuUrl" />
    <result column="parentGroupId" jdbcType="INTEGER" property="parentgroupid" />
  </resultMap>
  
  <resultMap id="resourceGroupMapWithCount" type="com.hxd.bean.ResourceGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="groupType" jdbcType="TINYINT" property="grouptype" />
    <result column="groupName" jdbcType="VARCHAR" property="groupname" />
    <result column="groupDesc" jdbcType="VARCHAR" property="groupdesc" />
    <result column="menuUrl" jdbcType="VARCHAR" property="menuUrl" />
    <result column="parentGroupId" jdbcType="INTEGER" property="parentgroupid" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <sql id="Base_Column_List">
    id, groupType, groupName, groupDesc, parentGroupId, menuUrl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="resourceGroupMap">
    select 
    	<include refid="Base_Column_List" />
    from resourcegroup
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from resourcegroup
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hxd.bean.ResourceGroup">
    insert into resourcegroup (id, groupType, groupName, 
      groupDesc, parentGroupId, menuUrl)
    values (#{id,jdbcType=INTEGER}, #{grouptype,jdbcType=TINYINT}, #{groupname,jdbcType=VARCHAR}, 
      #{groupdesc,jdbcType=VARCHAR}, #{parentgroupid,jdbcType=INTEGER}, #{menuUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hxd.bean.ResourceGroup">
    insert into resourcegroup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="grouptype != null">
        groupType,
      </if>
      <if test="groupname != null">
        groupName,
      </if>
      <if test="groupdesc != null">
        groupDesc,
      </if>
      <if test="menuUrl != null">
        menuUrl,
      </if>
      <if test="parentgroupid != null">
        parentGroupId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="grouptype != null">
        #{grouptype,jdbcType=TINYINT},
      </if>
      <if test="groupname != null">
        #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="groupdesc != null">
        #{groupdesc,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentgroupid != null">
        #{parentgroupid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxd.bean.ResourceGroup">
    update resourcegroup
    <set>
      <if test="grouptype != null">
        groupType = #{grouptype,jdbcType=TINYINT},
      </if>
      <if test="groupname != null">
        groupName = #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="groupdesc != null">
        groupDesc = #{groupdesc,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        menuUrl = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentgroupid != null">
        parentGroupId = #{parentgroupid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxd.bean.ResourceGroup">
    update resourcegroup
    set groupType = #{grouptype,jdbcType=TINYINT},
      groupName = #{groupname,jdbcType=VARCHAR},
      groupDesc = #{groupdesc,jdbcType=VARCHAR},
      menuUrl = #{menuUrl,jdbcType=VARCHAR},
      parentGroupId = #{parentgroupid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

 <select id="queryResourceGroupListByPage" resultMap="resourceGroupMap" parameterType="map">
		SELECT 
	        <include refid="Base_Column_List" />
		from resourcegroup 

		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="sSearch != null">
				AND (
					groupName like CONCAT('%',#{sSearch},'%')
				)
      		</if>
      	</trim>

		<choose>
			<when test="orderField !=null and orderField !=''">
				 ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
			</when>
			<otherwise>
				 order by id DESC
			</otherwise>
		</choose>
      	 
	</select>
	
	<select id="queryResourceGroupListCount" resultType="java.lang.Integer" parameterType="map">
		select count(0) as c from resourcegroup
	
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="sSearch != null">
				AND (
					groupName like CONCAT('%',#{sSearch},'%')
					
				)
      		</if>
      	</trim>
	</select>
	
	<select id="queryListByParentId" resultMap="resourceGroupMapWithCount" parameterType="com.hxd.bean.ResourceGroup">
		SELECT rg.* , (SELECT COUNT(*) FROM resourcegroup rg2 WHERE rg2.parentgroupid = rg.id) as count
		FROM resourcegroup rg WHERE rg.parentgroupid=#{id,jdbcType=INTEGER} and rg.grouptype=#{grouptype,jdbcType=TINYINT}
      	 
	</select>
	
	<select id="queryChildCountByParentId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		SELECT COUNT(*) FROM resourcegroup WHERE parentgroupid = #{id,jdbcType=INTEGER}
      	 
	</select>
	
	
	
	  <delete id="deleteResourceGroupByNodeId" parameterType="java.lang.Integer">
	    delete from resourcegroup
	    where id = #{id,jdbcType=INTEGER}
	  </delete>
 
</mapper>